$orange: #e58832;
$white: #ffffff;
$dark-orange: #e26c04;

$white : #fff;
$pinkish : #FAECE1;
$black : #25292A;
$red : #C44F2F;
$yellow : #E68932;
$lightyellow : #EBA146;
$lightgray : #ddd;
$orange : #e58832;