@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
  	margin: 0px;
  	padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    } 
  }
  #{$footer-selector} {
    height: $footer-height; 
  }
}

@mixin btn($btn-color) {
  background-color: $btn-color;
  background: -moz-linear-gradient(top, $btn-color 53%, $white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,$btn-color), color-stop(100%,$white));
  background: -webkit-linear-gradient(top, $btn-color 53%,$white 100%);
  background: -o-linear-gradient(top, $btn-color 53%,$white 100%);
  background: -ms-linear-gradient(top, $btn-color 53%,$white 100%);
  background: linear-gradient(to bottom, $btn-color 53%,$white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-color', endColorstr='$white',GradientType=0 );
  
  &:hover {
    color:white;
    border: 0.25em $dark-orange solid;
    background: -moz-linear-gradient(top, $dark-orange 0%, $dark-orange 52%, $white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$dark-orange), color-stop(52%,$dark-orange), color-stop(100%,$white));
    background: -webkit-linear-gradient(top, $dark-orange 0%,$dark-orange 52%,$white 100%);
    background: -o-linear-gradient(top, $dark-orange 0%,$dark-orange 52%,$white 100%);
    background: -ms-linear-gradient(top, $dark-orange 0%,$dark-orange 52%,$white 100%);
    background: linear-gradient(to bottom, $dark-orange 0%,$dark-orange 52%,$white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-orange', endColorstr='$white',GradientType=0 );
  } 

}


@mixin trans($val...) {
  -webkit-transition: $val;
  -moz-transition: $val; 
  -o-transition: $val; 
  transition: $val; 
}