@import "settings";
@import "foundation";
@import "colors";
@import "mixins";
@import "owltheme";
@import "owlcarousel";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

#carouselMain{
	border: 1px solid $lightgray;
	margin-bottom: 1em;
	padding:.7em;

	.eachslide{
		border:1px dashed #ddd;
		padding: .5em;
		margin:5px;

		img{
			display: block;
			margin: 0 auto;
		}


	}
}
.titleSuggested{
	p{
		margin:0;
		font-weight:bold;
	}
}
.details{

	a{
		font-size: 12px;
		line-height: 15px;
		display: block;
	}
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
* {
	// background: #ccc;
	// border: 1px solid #333;
}
body{
	background-color:black;
}

.header{
	background-color:transparent!important;
	background-image: url(../img/creep.png)!important;
	background-size:35%;
	background-repeat: no-repeat;
	padding: 3em .5em;
	background-position: right;

	h1{
		font-family: Nosifer;
		font-size: rem-calc(50);
	}
}

.row{
	background-color:$white;
}
.columns{
	padding-left:.5%;
	padding-right:.5%;
}
// SIDEBAR

.accordionTitle{
	display: box!important;
	width: 100%;
	background: $black!important;
	color: $pinkish!important;
	font-weight: bold;
	text-align:center;
	margin-bottom: 5px;
	padding: 3px 0!important;
	font-size: rem-calc(12)!important;

	&:hover{
		background:lighten($black, 15%)!important;
	}
}
.accordionContent{
	padding: 0!important;
	ul{
		margin: 0;
		li{
			list-style: none;

			a{
				width:100%;
				display:block;
				font-size: rem-calc(12);
				padding: 8px 5px;
				color:$black;
				line-height: 15px;
				text-transform:capitalize;
				&:hover{
					background:$lightgray;
				}
			}
		}
	}
}
// ACCORDION
.sidebar{
	padding:0;
	border:1px solid $lightgray;

	.boxes{
		p{
			display: box;
			width: 100%;
			background: $black;
			color: $pinkish;
			font-weight: bold;
			text-align:center;
			margin-bottom: 5px;
			padding: 3px 0;
			font-size: rem-calc(12);
		}

		ul{
			margin: 0;
			li{
				list-style: none;

				a{
					width:100%;
					display:block;
					font-size: rem-calc(12);
					padding: 8px 5px;
					border-bottom:1px dashed #ddd;
					color:$black;
					line-height: 15px;
					text-transform:lowercase;
					&:hover{
						background:$lightgray;
					}
				}
			}
		}
	}
}

.btn {
	margin:0;
	padding: 2px 20%;
	display: inline-block;
	padding:0!important;
	border-radius: 15px!important;
	border: 0.25em $orange solid;
	color: #FFF;
	font-size: 18px;
	font-family: 'Creepster', cursive;
	text-align: center;	
	line-height: 25px;
	font-size:22px;
	text: {
		font-family: 'Creepster', cursive;
		transform: uppercase;
		decoration: none;
		font-size: 18px;
	}
  cursor:pointer;
}


.orange {
	@include btn($orange);

}

.zum{
	width:95%;
	margin:0 auto;
	display:block;
	
	span{
		display:block;
		padding:6px;
	}
}


.logo{
	img{
		display:block;
	}
	a{
		color:$yellow;
	}
}
.decidologo{
	p{
		font-size:rem-calc(10);
		margin:0;
	}
}
.main{
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;	
}
.productPart{
	.productbox{
		border:1px solid #ddd;
		padding: 1em;
		// height: 450px!important;
		img{
			margin:0 auto;
			display: block;
			width:145px;
		}

		ul{
			margin:0;
			li{
				list-style:none;
				display: block;
			}
		}

		.button{
			display: block;
			width:100%;
		}
	}
}
.productPartDecido{
	.productbox{
		border:1px solid #ddd;
		padding: 1em;
		// height: 450px!important;
		img{
			margin:0 auto;
			display: block;
			width:145px;
		}

		ul{
			margin:0;
			li{
				list-style:none;
				display: block;
			}
		}

		.button{
			display: block;
			width:100%;
		}
	}
}
.deliveryPeriod{
	position:absolute;
	bottom:3%;
	font-size:11px;
	color: #6c716f;
	line-height:14px;
}
.shipping{
	background:$pinkish;
	padding:5%;
	font-size:rem-calc(13);
	color:$black;
	margin-bottom:5%!important;
	height: 125px;
	position:relative;
	.oldprice{
		font-size: rem-calc(12);
		color: lighten($black, 20%);
		text-decoration: line-through;
	}
	.actualprice{
		font-weight: bold;
	}
	.Total{
		margin-top:5%;
		border-top: 1px dashed $black;
	}
}
.before{
	display:block;
	color:$lightgray;
	font-weight: normal;
	font-size:12px;
	text-decoration: line-through;
	height: 15px;
}
.pitch{
	color: orange;
	font-size:12px;
	line-height: 15px;
	font-weight: bold;
	height: 15px;
}
.prodName{
	margin-bottom:15px;
	margin-top: 10px;
	line-height: 15px;
	height:4em;
	a{
		font-size: 13px;
		font-weight: bold;
		height: 2.5em;
		display:block;

		
	}
}
.moreinfo{
	font-size:12px;
	margin:.5em 0;
}
.price{
	color: #EF9303;
	font-weight: bold;
	line-height: 15px;
	margin: .7em 0;
}
.seller{
	font-size: 11px;
	color: #69B107;
}
.loaderCover{
	background: rgb(249,249,249);
	position: absolute;
	height: 50%;
	width: 100%;
	z-index: 1;
}
.loader {
	left: 0px;
	top: 0px;
	width: 30%;
	height: 15%;
	z-index: 9999;
	background: url("../img/page-loader.gif") 50% 50% no-repeat;
	margin: 0 auto;
}
#searchButton{
	z-index: 0;
}
// FOOTER
.outerfooter{
	background-color: $yellow;
	border-top:6px solid darken($yellow, 5%);
}
.footer{
	padding:1em;
	background: transparent;
	
	p{
		font-size:12px;
		color:$pinkish;
		text-align: center;
		margin: 0;
		}
}
.reveal-modal{
	.image{
		width:15%;
		float: left;
	}
	.details{
		width: 85% ;
		float: right;

		h2{
			color:$black;
			font-size: rem-calc(25);
			line-height: rem-calc(25);
			font-weight:bold;
			margin-bottom: 1em;
		}
		p{
			color:lighten($black, 5%);
		}
		.price{
			font-size:2em;
		}
		ul{
			margin:0;
			li{
				list-style: none;
			}
		}
	}
}
.activelang{
	background:$lightgray;
}
.active{
	font-weight:bold;
	color: $yellow;
}

#infscr-loading{
	margin:1em 0;
	text-align: center;
}
.stickyfooter{
	position: fixed;
	bottom: 0;
	left: 0;
	right:0;
	background:$lightgray;
	padding:5px;


	p{
		font-size: rem-calc(10);
		color:darken($lightgray, 20%);
		margin:0;
	}
}
.introText{
	padding:10px;
	border-top:1px dashed $lightgray;
	border-bottom:1px dashed $lightgray;
	margin-bottom: 5px;
	p{
		margin:0;
		font-size:rem-calc(13);
		color:$black;
	}
}